body{
    background-color: grey;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1)
}