body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 15px;
    background-color: hsla(125, 78%, 62%, 1.00);
    width: 500px;
    height: 180px;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(214, 100%, 56%)
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
}